body {
    background-color: #e9a853;
    font-family: Garamond;
  }

  .box {
    width: 800px;
    height: 620px;
    position: absolute;
    right: 50px;
    top: 100px;
    padding: 20px;
    background-color: rgb(247, 247, 240);
    padding-top: 80px;
  }

  .work {
    background-color: rgb(247, 247, 240);
    right: 430px;
    top: 70px;
    padding-top: 35px;
    padding-left: 60px;
    overflow: hidden;
  }

  .work-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .work-text {
    float: left;
    width: 50%;
  }

  .work img {
    position: absolute;
    right: -125px;
    top: -30px;
    height: 475px;
    width: auto;
    border-radius: 75%;
    object-fit: cover;
  }

  .work-text h1 {
    font-size: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }

  .work-text p{
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.8;
  }

  .aboutme {
    padding-right: 20px;
    position: absolute;
    right: 40px;
    bottom: 50px;
    font-family: Verdana;
    font-size: 17px;
  }

  .aboutme td {
    padding-bottom: 10px;
  }

  .aboutme td:first-child {
    padding-right: 20px;
  }

  .contact {
    right: 140px;
    top: 70px;
    background-color: rgba(248, 230, 176, 0.3);
    text-align: center;
    width: 250px;
    height: 575px;
    color: white;
  }

  .contact p{
    font-family: "Inter", sans-serif;
    font-size: small;
    letter-spacing: 0.6px;
  }

  .indent{
    text-indent: 30px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
  }

  .social-media {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .menu-item img {
    height: 40px;
    width: 40px;
  }

  .contact button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  .contact h1 {
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  .contact h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 11px;
  
    display: flex;
    justify-content: center;
    gap: 90px;
  
    background-color: transparent;
    padding: 15px 0;
  }

  .top-menu a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    letter-spacing: 1.5px;
  }

