.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 11px;
  
    display: flex;
    justify-content: center;
    gap: 90px;
  
    background-color: transparent;
    padding: 15px 0;
  }